# App Configuration
APP_KEY="xxx"
APP_BASE_API_URL="http://localhost:3000"

# Database
DB_CONNECTION_STRING="postgresql://postgres:xxx@localhost:5432/vistatable"

# JWT Configuration
JWT_SECRET="xxx"
JWT_ACCESS_TOKEN_EXPIRY="23h"
JWT_VERIFICATION_TOKEN_EXPIRY="72h"

# Crypto Configurations
CRYPTO_KEY_LENGTH="64"
CRYPTO_SALT_SIZE="16"

# Email
EMAIL_PROVIDER_API_KEY="xxx"